# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.sqlite3
db.sqlite3

# Node
node_modules/
dist/
build/
.npm

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Staticfiles
staticfiles/